<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.UserAccountMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.UserAccount">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="type" jdbcType="SMALLINT" property="type" />
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="mem_id" jdbcType="INTEGER" property="memId" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="fee" jdbcType="DOUBLE" property="fee" />
    <result column="acc_desc" jdbcType="LONGVARCHAR" property="accDesc" />
  </resultMap>
  
  <sql id="Base_Column_List">
    <!-- WARNING - @mbg.generated -->
    user_account.type, user_account.id, user_account.mem_id, user_account.amount, user_account.fee, user_account.acc_desc
  </sql>

</mapper>